<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Concessionária</title>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
    <div id="container">
        <div id="navbar">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/produtos">Produtos</a></li>
                <li><a href="/sobre">Sobre</a></li>
            </ul>
            <div id="logo">
                <img src="Images/logocar.png" alt="">
            </div>
            <ol>
                <li><a href="/contato">Contato</a></li>
                <li><a href="#">Privacidade</a></li>
                <li><a href="/login">Login</a></li>
            </ol>
        </div>
        <div id="sideImg">
            <img src="" alt="">
        </div>