<%- include('partials/header.ejs') %>
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="http://kit.fontawesome.com/ca14b9e588.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="login">
    <form method="post">
    <h2 class="tittle">Login</h2>
    <div class="input">
        <input id="email" name="email" placeholder="Email" type="text">
    </div>

    <div class="input">
        <input id="senha" name="password" placeholder="Senha" type="password">
    </div>

    <div id="btn">
        <button type="submit">Login</button>
        <h5>Ainda não tem login?</h5><a href="/register">Se cadastre!</a>
    </div>
    </form>
    

</div>
     
        </body>
