<%- include('partials/header.ejs') %>
<!DOCTYPE html>
<html>
<head>
	<title>About Us Section</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="css/sobre.css">
</head>	
<body>
    <h1 class="heading"><span> </span> </h1>
    <h1 class="heading"><span> </span> </h1>
    <h1 class="heading"><span> </span> </h1>
    <h1 class="heading"><span> </span> </h1>
    <h1 class="heading"><span> </span> </h1>
    <h1 class="heading"><span> </span> </h1>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>Sobre nós</h1>
				</div>
				<div class="content">
					<h3>Tudo o que você pode saber sobre nossa empresa</h3>
					<p>Somos uma empresa que coloca o cliente sempre em primeiro lugar, não
                        importando qualquer tipo de situação. Somos o melhor serviço do Mercado e manteremos
                        esse compromisso eternamente.
                    </p>
					
				</div>
				<div class="social">
					<a href=""><i class="fab fa-facebook-f"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a>
				</div>
			</div>
			<div class="image-section">
				<img src="images/engine.png">
			</div>
		</div>
	</div>

	
</body>
</html>